{% extends 'base.html'%}

{% block content%}
<div class="jumbotron">
  <h2>HURRICANE SERVICES MAKES USE OF SPECIALISED TEAMS FOR:</h2>
  <h3>REGULAR HOUSE CLEAN</h3>
  <h3>DEEP CLEAN</h3>
  <h3>COMMERCIAL CLEANING</h3>
</div>

<div class="container">
  <div class="row">
    <h1>REGULAR CLEAN</h1>
    <div class="col-md-4">
      <h4>ALL AREAS</h4>
      <ul>
        <li>Sweep and mop floors</li>
        <li>Scrub and clean mirrors</li>
        <li>Dusting</li>
      </ul>

    </div>
    <div class="col-md-4">
      <h4>BATHROOMS</h4>
      <ul>
        <li>Scrub and clean sinks</li>
        <li>Scrub and clean toilets</li>
        <li>Clean showers and tubs</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>KITCHEN</h3>
      <ul>
        <li>Clean countertops</li>
        <li>Scrub and disinfect sink</li>
        <li>Clean kitchen appliances</li>
      </ul>

    </div>

  </div>

</div>


<div class="container">
  <div class="row">
    <h1>DEEP CLEAN</h1>
    <div class="col-md-4">
      <h3>ALL AREAS</h3>
      <ul>
        <li>Empting rubbish cans</li>
        <li>Clean carpets</li>
        <li>Cobweb removals</li>
      </ul>

    </div>

    <div class="col-md-4">
      <h3>BATHROOMS</h3>
      <ul>
        <li>Dust cabinet doors</li>
        <li>Inside cabinet cleaning</li>
        <li>Scrub and clean shower heads and tubs</li>
      </ul>

    </div>

    <div class="col-md-4">
      <h3>KITCHEN</h3>
      <ul>
        <li>Clean inside large kitchenappliances</li>
        <li>Clean inside and out side cabinets</li>
        <li>Scrub and mop floors</li>
      </ul>

    </div>

  </div>

</div>

{%endblock%}
